@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Raleway&family=Roboto+Mono:wght@400;600&display=swap");

body{
  background-image: url('/img/background.jpg') !important;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

body {
  font-family: Libre Franklin, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.center-screen input {
  padding: 20px;
  border-radius: 10px;
  border-bottom: 5px rgba(85, 255, 190, 1) solid;
  width: 100%;
  max-width: 400px;
}

.small-image {
  max-width: 200px;
  width: 100%;
}

form {
  border-radius: 20px;
  border-bottom: 30px solid #55ffbe;
  background: #667eff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

form .form-group {
  margin-bottom: 15px;
}
